*{margin:0;
box-sizing: border-box;}

html, body{
	height: 100%;
	width: 100%;
}

#wrapper{
	float: left;
	width: 100%;
	min-height: 100%;
	padding-bottom: 200px;
}
header, main, footer {
	float: left;
	width: 100%;
}

header{
	width: 100%;
	height: 120px;
	background: #fcf8ee;
}
header div{
	display: inline-block;
}
footer{
	width: 100%;
	height: 200px;
	background: #274254;
	margin-top: -200px;
	color: #fff;
	text-align: center;
}

/* header */
.fixed-header{
	position: relative;
	width: 100%;
}
/* NAV LINKS */
#logo-box{
	position: absolute;
	left: 20px;
	top: 5px;
	height: 50px;
	width: 50px;
	background: red;
}
.navigation{
	float: right;
	position: relative;
	top: 60px;
	/* background-color: #89b0ae; */
	background-color: #e9806e;
	width: 100%;
	font-weight: 900;
}
p#logo-name{
	padding-left: 60px;
	line-height: 1.2;
	font-size: 37px;
}
ul.nav-links{
	float: right;
	
}
li.nav-link-button{
	display: inline;
	list-style-type: none;
	float: left;
	height: 43px;
	font-size: 16px;
	text-align: center;
	padding: 20px 20px 20px 20px;
}

li.nav-link-button-active{
	display: inline;
	list-style-type: none;
	float: left;
	height: 60px;
	font-size: 16px;
	text-align: center;
	padding: 20px 20px 20px 20px;
	color: #a02c18;
	background-color: #fcf8ee;
}
li.nav-link-button a:link{
	color: white;
}
li.nav-link-button a:visited{
	color: white;
}
li.nav-link-button a:hover{
	color: white;
}
li.nav-link-button a:active {
	color: white;
}


/* main content */
#home-left-main{
	float: left;
	width: 50%;
	padding:50px 0px 0px 50px;
	/* background-color: #bee3db; */
}
#middle{
	position: absolute;
	top: 300px;
	width: 100%;
	color: whitesmoke;
	background-color: tomato;
	padding: 10px 0px 15px 50px;
	font-size: 20px;
}
#right-side{
	float: left;
	width: 50%;
	height: 100vh;
	padding-left: 200px;
}
#main-right-image{
	position: relative;
	height: 622px;
	width: 422px;
	padding: 10px;
	margin: 0 auto;
	z-index: 1;
	border: 1px solid #af3800;
	background-color: #fff;
	box-shadow: 10px 5px 5px rgba(39, 66, 84, .2);
}
/* main page image links */
#home-main-title{
	text-align: center;
	padding: 30px 0px 30px 0px;
}
#intro{
	width: 900px;
}
.home-top{
	min-height: 100vh;
	width: 100%;
	background-color: whitesmoke;
	/* border-bottom: #af3800 10px; */
}
.home-bottom{
	min-height: 100vh;
	padding: 5px 50px 5px 50px;
	text-align: center;
	background-color: whitesmoke;
}
.tile-container{
	float: left;
	width: 100%;
}
.home-main-tile{
	display: inline-block;
	height: 310px;
	width: 450px;
	background-color: whitesmoke;
	margin: 20px;
	border: 1px solid #af3800;
	border-top: 0px;
}

/* bouquets page */

.bouquet-image-holder{
	margin-left: 50px;
}
.bouquet-basket{
	width: 1400px;
	display: inline-grid;
	/* align-content:space-evenly;
	grid-template-columns: auto auto auto; */ 
	background-color: aqua;
}
.bouquet-basket img{
	height: 267px;
	width: 400px;
	background-color: #af3800;
	margin-left: 47px;
}
.bouquet-category{
	float: left;
}

/* weddings page*/
#wedding-top-image img{
	width: 100%;
	background-size: cover;
}
.wedding-content{
	margin-bottom: 50px;
}
.wedding-content h1{
	text-align: center;
	margin: 100px 0px 100px;

}
.wedding-content h2{
	text-align: center;
	margin-bottom: 30px;
}
#bottom-h2{
	padding-top: 30px;
}
.description-text{
	width: 70%;
	margin: 0 auto;
	text-align: justify;
}
#top-section{
	margin-bottom: 30px;
}
#top-section p{
	margin-bottom: 10px;
	font-size: 18px;
}
#bottom-section{
	margin-bottom: 30px;
}
#bottom-section article ul li span{
	font-weight: 900;
}
#bottom-section article ul li{
	margin-bottom: 10px;
}
.bouquet-image-box{
	width: 1400px;
	display: grid;
	align-content:space-evenly;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
}
.bouquet-image{
	margin: 5px 5px 10px 5px;
	height: 300px;
	width: 450px;
	background-color: violet;
}
.form-title{
	margin-top: 100px;
	text-align: center;
}
#wedding-form{
	margin-top: 20px;
}

/* corporate page */
#corporate-main-title h1{
	margin-top: 100px;
	text-align: center;
}
.corporate-top h1{
	text-align: center;
	margin: 0px 0px 50px;

}
.corporate-image-box{
	width: 1400px;
	display: grid;
	align-content:space-evenly;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
}
.corporate-image{
	height: 300px;
	width: 450px;
	background-color: violet;
	margin-top: 30px;
}
#corp-bouquets-link{
	padding-top: 30px;
	font-size: 18px;
	text-align: center;
}


#corporate-form{
	margin-top: 20px;
	margin-bottom: 50px;
}

/* plant care */
.care-box{
	width: 60%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
.care-box h1{
	text-align: center;
	margin-bottom: 25px;
}
.care-box p{
	font-size: 18px;
	text-align: justify;
	margin-bottom: 20px;
}
.care-img{
	width: 90%;
	height: 400px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-image: url(../assets/images/plant_care-1504-1004.jpeg);
	background-size: cover;
}
.care-box h2{
	margin-bottom: 20px;
}
.care-box ul li{
	font-size: 18px;
	margin-bottom: 10px;
}


/* Contact form holder */
.contact-info{
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
}
.contact-main .contact-info h1 {
	margin-bottom: 20px;
	display: inline-block;
}
.contact-main .contact-info img {
	height: 400px;
	width: 600px;
	background-size: cover;
}
.contact-info h4{
	font-size: 18px;
}
.contact-info address{
	margin-bottom: 30px;
}
#contact-form-title{
	text-align: center;
	height: 70px;
	margin-bottom: 30px;
	background-color: tomato;
	color: whitesmoke;
	padding-top: 10px;
}

.form-holder{
	width: 650px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 3px;
	background-color: #e4644e;
	color: white;
}

.contact-main{
	height: fit-content;
	padding: 100px 0px 60px 0px;
	/* background: #af3800; */
	background-color: azure
}

p.contact-q{
	padding-left: 5px;
	font-size: 20px;
	font-weight: 900;
}
.labels{
	font-size: 20px;
	margin-left: 5px;
}
.input-shape{
	border: none;
	width: 100%;
	height: 33px;
	border-radius: 3px;
	margin-bottom: 20px;
}
.recommend-us{
	margin-bottom: 20px;
}
.options{
	margin-bottom: 20px;
}	
form .submit-button{
	height: 30px;
	width: 90px;
	cursor: pointer;
}

form textarea{
	width: 100%;
	min-height: 100px;
	border-radius: 3px;
}