*{margin:0;
box-sizing: border-box;}

html, body{
	height: 100%;
	width: 100%;
}

#wrapper{
	float: left;
	width: 100%;
	min-height: 100%;
	padding-bottom: 200px;
}
header, main, footer {
	float: left;
	width: 100%;
}

header{
	width: 100%;
	height: 120px;
	background: #fcf8ee;
}
header div{
	display: inline-block;
}
footer{
	width: 100%;
	height: 200px;
	background: #792315;
	margin-top: -200px;
	color: #fff;
	text-align: center;
}

/* ---------------------------------------------------------------------- */
/* header */
.fixed-header{
	position: relative;
	width: 100%;
}

/* ---------------------------------------------------------------------- */
/* NAV LINKS */
#logo-box{
	position: absolute;
	left: 20px;
	top: 5px;
	height: 50px;
	width: 50px;
	background: red;
	font-family: 'Pattaya', sans-serif;
	color: #af3800;
}
#logo-box p{
	margin-top: 8px;
}
.navigation{
	float: right;
	position: relative;
	top: 60px;
	/* background-color: #89b0ae; */
	background-color: #e9806e;
	width: 100%;
	font-weight: 900;
}
p#logo-name{
	padding-left: 60px;
	line-height: 1.2;
	font-size: 37px;
}
ul.nav-links{
	float: right;
	
}
li.nav-link-button{
	display: inline;
	list-style-type: none;
	float: left;
	height: 43px;
	font-size: 16px;
	text-align: center;
	padding: 20px 20px 20px 20px;
}

li.nav-link-button-active{
	display: inline;
	list-style-type: none;
	float: left;
	height: 60px;
	font-size: 16px;
	text-align: center;
	padding: 20px 20px 20px 20px;
	color: #a02c18;
	background-color: #fcf8ee;
}
li.nav-link-button a:link{
	color: white;
}
li.nav-link-button a:visited{
	color: white;
}
li.nav-link-button a:hover{
	color: white;
}
li.nav-link-button a:active {
	color: white;
}

/* ---------------------------------------------------------------------- */
/* footer */
.footer-box-holder{
	width: 80%;
	margin: 0 auto;
}
.footer-boxes{
	float: left;
	width: 25%;
	height: 200px;
}
.footer-boxes table{
	margin: 0 auto;
	padding-top: 20px;
}
footer th{
	text-align: center;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
}
footer table{
	text-align: left;
}
footer a:visited{
	color: white;
}
footer table td{
	text-align: center;
}
#copyright{
	margin-top: 90px;
}
/* ------------------------------------------------------------- */
/* main content */
#home-back{
	float: left;
	width: 100%;
	min-height: 100vh;
	background-color: whitesmoke;
}
#home-title{
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	height: 200px;
	color: #a02c18;
	font-family: 'Libre Caslon Text', serif;
}
#home-mission{
	float: left;
	width: 100%;
	height: auto;
	color: whitesmoke;
	background-color: tomato;
	padding: 10px 0px 15px 50px;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}
#intro{
	width: 900px;
}
#separator{
	float: left;
	width: 100%;
	height: 100px;
}

#separator img{
	float: left;
	width: 90%;
	height: auto;
	margin: 0 auto;
	padding: 10px;
	margin: 0 auto;
	border: 1px solid #af3800;
	background-color: #fff;
	box-shadow: 10px 5px 5px rgba(39, 66, 84, .2);
	display: none;
}
#homepage-owner-box{
	float: left;
	width: 100%;
	padding: 20px;
	background-color: tomato;
	margin-bottom: 50px;
}

#homepage-owner-description{
	float: left;
	width: 60%;
	height: auto;
	font-size: 16px;
	color: whitesmoke;
	margin-left: 30px;
	text-align: justify;
	font-family: 'Roboto Slab', serif;
}

#main-right-image{
	position: absolute;
	height: 622px;
	width: 422px;
	right: 80px;	
	top: 250px;
	padding: 10px;
	margin: 0 auto;
	z-index: 1;
	border: 1px solid #af3800;
	background-color: #fff;
	box-shadow: 10px 5px 5px rgba(39, 66, 84, .2);
}


/* ---------------------------------------------------------------------- */
/* main page image links */

.home-bottom{
	min-height: 100vh;
	padding: 5px 50px 50px 50px;
	text-align: center;
	background-color: whitesmoke;
}
.tile-container{
	float: left;
	width: 100%;
}
.home-main-tile{
	display: inline-block;
	height: 310px;
	width: 450px;
	background-color: whitesmoke;
	margin: 20px;
	border: 1px solid #af3800;
	border-top: 0px;
}


/* ---------------------------------------------------------------------- */
/* bouquets page */
.bouquets-main-box{
	width: 100%;
	padding: 30px 50px 50px 50px;
}
.bouquets-main-box hr{
	margin-top: 50px;
	margin-bottom: 50px;
	height: 2px;
	border-width: 0;
	color: #a02c18;
	background-color: #a02c18;
}
.bouquets-main-box h1{
	text-align: center;
	padding-bottom: 50px;
	color: #af3800;
	font-family: 'Libre Caslon Text', serif;
}
.bouquets-main-box h2{
	text-align: center;
	font-family: 'Libre Caslon Text', serif;
	font-size: 35px;
	color: #a02c18;
}
.bouquets-main-box h3{
	text-align: center;
	font-family: 'Libre Caslon Text', serif;
	color: #a02c18;
}
.bouquets-main-box h4{
	text-align: center;
	font-family: 'Libre Caslon Text', serif;
	color: #a02c18;
}
.bouquets-main-box p{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	color: #af3800;
}
.category-divs{
	padding: 50px 0px 25px 0px;
}
.b-image-tile{
	height: 350px;
	width: 420px;
	background-color: #fcf8ee;
	padding-left: 8px;
	padding-top: 8px;
	border: 2px solid #af3800;
	box-shadow: 10px 5px 5px rgba(39, 66, 84, .2);
}
.b-image-text{
	text-align: center;
	padding-top: 15px;
}
.bouquet-basket{
	width: 100%;
	padding-bottom: 50px;
}
.bouquet-category{
	display: grid;
	padding-top: 20px;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
}
.bouquet-category div{
	margin: 0 auto;
}
.bouquet-basket img{
	height: 267px;
	width: 400px;
}




/* ---------------------------------------------------------------------- */
/* weddings page*/
#wedding-top-image img{
	width: 100%;
	background-size: cover;
}
.wedding-content{
	margin-bottom: 50px;
}
.wedding-content h1{
	text-align: center;
	margin: 100px 0px 100px;
	color: #af3800;
	font-family: 'Libre Caslon Text', serif;
}
.wedding-content h2{
	text-align: center;
	margin-bottom: 30px;
	color: #af3800;
	font-family: 'Libre Caslon Text', serif;
}
#bottom-h2{
	padding-top: 50px;
}

.description-text{
	width: 70%;
	margin: 0 auto;
	text-align: justify;
	color: #af3800;
	font-family: 'Roboto Slab', serif;
}
.sections{
	margin-bottom: 30px;
}
.sections p{
	margin-bottom: 10px;
	font-size: 16px;
	font-family: inherit;
}
#bottom-section{
	margin-bottom: 30px;
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
}
#bottom-section article ul li span{
	font-weight: 900;
	font-family: inherit;
}
#bottom-section article ul li{
	margin-bottom: 10px;
}
.bouquet-image-box{
	width: 1400px;
	display: grid;
	align-content:space-evenly;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
}
.bouquet-image{
	margin: 5px 5px 10px 5px;
	height: 300px;
	width: 450px;
	background-color: violet;
}
.form-title{
	margin-top: 100px;
	text-align: center;
	color: #af3800;
	font-family: 'Raleway', sans-serif;
}


/* ---------------------------------------------------------------------- */
/* corporate page */
#main-corporate-box{
	padding-bottom: 50px;
}
.corporate-top{
	margin-top: 100px;
}
.corporate-main-title h1{
	text-align: center;
	color: #a02c18;
	margin: 0px 0px 50px;
	font-family: 'Libre Caslon Text', serif;
}
.corporate-image-box{
	width: 1400px;
	display: grid;
	align-content:space-evenly;
	grid-template-columns: auto auto auto;
	margin: 0 auto;
}
.corporate-image{
	height: 300px;
	width: 450px;
	background-color: violet;
	margin-top: 30px;
}
#corp-bouquets-link{
	padding-top: 30px;
	font-size: 18px;
	text-align: center;
	color: #af3800;
}

/* ---------------------------------------------------------------------- */
/* workshops page */
.workshops-top{
	margin-top: 100px;
}
#workshop-main-title{
	text-align: center;
	color: #a02c18;
	margin-bottom: 50px;
	font-family: 'Libre Caslon Text', serif;
}
.sections article span{
	font-weight: 900;
}
#workshop-bottom-section-box{
	margin-top: 50px;
	margin-bottom: 50px;
}
.workshop-image-box{
	width: 80%;
	margin: 0 auto;
}
.workshop-image{
	width: 33%;
	display: inline-block;
	margin-top: 30px;
}
.workshop-image div{
	width: 322px;
	height: 472px;
	padding-top: 10px;
	padding-left: 10px;
	margin: 0 auto;
	background-color: white;
	border: 1px solid #af3800;
}
.workshop-image img{
	width: 300px;
	margin: 0 auto;
}
.bouquets-helpful-links{
	text-align: center;
	font-size: 15px;
	color: #af3800;
	font-family: 'Roboto Slab', serif;
}


/* ---------------------------------------------------------------------- */
/* plant care */
.care-box {
	width: 60%;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 100px;
}

.care-box h1{
	text-align: center;
	margin-bottom: 25px;
	color: #af3800;
	font-size: 28px;
	font-family: 'Libre Caslon Text', serif;
}
.care-box p{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	text-align: justify;
	margin-bottom: 20px;
	color: #af3800;
}
.care-img{
	width: 90%;
	height: 400px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-image: url(../assets/images/plant_care-1504-1004.jpeg);
	background-size: cover;
}
.care-box h2{
	margin-bottom: 20px;
	color: #af3800;
	font-family: 'Libre Caslon Text', serif;
}
.care-box ul li{
	font-size: 16px;
	font-family: 'Roboto Slab', serif;
	margin-bottom: 10px;
	color: #af3800;
}

/* ---------------------------------------------------------------------- */
/* Contact form holder */
.contact-main{
	background-color: whitesmoke;
	height: fit-content;
	padding: 100px 0px 60px 0px;
}

.contact-info{
	width: 100%;
	margin-bottom: 100px;
	text-align: center;
	color: #af3800;
}
.contact-main .contact-info h1 {
	margin-bottom: 20px;
	display: inline-block;
	color: #af3800;
}
.contact-main .contact-info img {
	height: 400px;
	width: 600px;
	background-size: cover;
}
.contact-info h4{
	font-size: 18px;
	color: #af3800;
}
.contact-info address{
	margin-bottom: 30px;
}
#contact-form-title{
	text-align: center;
	height: 70px;
	margin-bottom: 30px;
	background-color: tomato;
	color: whitesmoke;
	padding-top: 10px;
	font-family: 'Raleway', sans-serif;
}

.form-holder{
	width: 650px;
	margin: 0 auto;
	padding: 20px;
	border-radius: 3px;
	background-color: #e4644e;
	color: white;
}
.form-holder label{
	margin-left: 10px;
	font-family: 'Cabin', sans-serif;
}
.form-holder input{
	font-family: 'Raleway', sans-serif;
	padding-left: 5px;
}
	/* error message styling for all forms */
.name-error-msg{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	padding-left: 5px;
	color: red;
	visibility: hidden;
	border-radius: 3px;
}
.email-error-msg{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	padding-left: 5px;
	color: red;
	visibility: hidden;
	border-radius: 3px;
}
.phone-error-msg{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	padding-left: 5px;
	color: red;
	visibility: hidden;
	border-radius: 3px;
}
.details-error-msg{
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
	padding-left: 5px;
	color: red;
	visibility: hidden;
	border-radius: 3px;
}
p.contact-q{
	padding-left: 5px;
	font-size: 20px;
	font-weight: 900;
}
.labels{
	font-size: 20px;
}
.input-shape{
	border: none;
	width: 100%;
	height: 33px;
	border-radius: 3px;
}
.recommend-us{
	margin-left: 5px;
	margin-bottom: 20px;
}
.options{
	margin-left: 15px;
	margin-bottom: 20px;
}
.submit-holder{
	width: 100%;
}
form .submit-button{
	font-family: inherit;
	font-size: 15px;
	margin-top: 20px;
	height: 30px;
	width: 100%;
	cursor: pointer;
}

form textarea{
	width: 100%;
	min-height: 100px;
	border-radius: 3px;
	padding-left: 5px;
}
p.error-list{
	display: none;
}

/* small screen responsiveness */
@media screen and (max-width: 600px) {
	.form-holder{
		width: 90%;
		margin: 0 auto;
	}
	header{
		display: block;
	}
	main{
		margin-top: 110px;
	}
	footer {
		height: auto;
	}
	.footer-boxes{
		float: none;
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
	}
	/* home screen */
	#main-home-box{
		width: 100%;
		height: auto;
	}
	#main-home-box p{
		width: 100%;
		height: auto;
	}
	
	#home-back{
		width: 100%;
		height: auto;
		display: block;
	}
	
	#intro{
		width: 90%;
		margin: 0 auto;
		text-align: justify;
	}
	#home-mission{
		display: block;
		width: 100%;
		height: auto;
		padding-left: 0px;
	}
	
	#homepage-owner-description{
		margin-left: 0px;
		width: 100%;
	}
	#main-right-image{
		display: none;
	}
	#separator{
		
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
	#inner-sep{
		width: 90%;
		height: auto;
		margin: 0 auto;
	}
	#separator img{
		width: 100%;
		display: block;
		height: auto;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.tiles-container{
		width: 100%;
		height: auto;
		display: block;
	}
	.home-main-tile{
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: block;
		margin-top: 10px;
	}
	.hmt-image{
		width: 90%;
		height: auto;
	}
	/* bouquets page */
	


	/* wedding page */
	.description-text{
		width: 90%;
	}
	.bouquet-image-box{
		display: block;
		width: 100%;
		height: auto;
	}
	.bouquet-image{
		width: 100%;
		height: auto;
		margin: 0 auto;
		margin-top: 5px;
	}
	img.bouquet-page-image{
		display: block;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}

